* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Rajdhani";
}

.pageContainer {
    
    width: 100vw;
    height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    gap: 50px;
}

button {
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    min-width: 7.5vw;
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    padding: 1vw;
}

span {
    font-size: 2rem;
    font-weight: 700;
}

.rarity-3 {
    color: rgb(0, 76, 255);
}

.rarity-4 {
    color: rgb(255, 5, 255);
}

.rarity-5 {
    color: rgb(255, 217, 0);
}